.bodyFavoritos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 120vh;
}

.mainFavoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.infoFavoritos {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: center; /* Centraliza os itens */
    gap: 1em; /* Espaçamento entre os itens */
}

.buttonCarta:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer; 
}

.mainFavoritos h1 {
    font-size: 2.4em;
    transition: all 1s ease;
    font-family: "Lilita One", sans-serif; /* Fonte escolhida */
}

.cartaFavoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1em solid black;
    padding: 3em 8em;
    border-radius: 2em;
    flex: 0 1 calc(30%); /* Cada carta ocupa 1/3 da largura menos o espaço do gap */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */

}

#vermelho {
    background-color: red;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 0.8em;
}

#branco {
    background-color: white;
    color: red;
    padding: 1em;
    border: none;
    border-radius: 0.8em;
}