.blocoSobrePrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.blocoFotoGrupo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 60vh;
    border-radius: 3em;
    padding: 1em;
    background-color: #CCD59A;
    transition: all 1s ease;
    box-shadow: 0px 0px 20px rgb(168, 168, 168);
}

.blocoFotoGrupo3:hover{
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
}

.tituloGrupo{
    background-color: #979F67;
    width: 15vw;
    border-radius: 3em;
}

.fotoDoGrupo{
    width: 30vw;
    border-radius: 3em;
}

.BlocoLogoEIntegrantes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}

.BlocoLogoEIntegrantes h3 {
    color: black
}

.logoSobreGrupo{
    width: 25vw;
}

.blocoSobreProjeto{
    width: 50vw;
    background-color: #CCD59A;
    padding: 1.5em;
    border-radius: 3em;
    transition: all 1s ease;
    box-shadow: 0px 0px 20px rgb(168, 168, 168);
    transition: all 1s ease;
}

.blocoSobreProjeto:hover{
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
}

.tituloSobreProjeto{
    background-color: #979F67;
    width: 15vw;
    border-radius: 3em;
}


@media (max-width: 600px) {
    .blocoFotoGrupo3{
        width: 70vw;
        height: 40vh;
    }
    .tituloGrupo{
        width: 40vw;
    }
    .fotoDoGrupo{
        width: 40vw;
    }
    .blocoSobreProjeto{
        width: 70vw;
    }
    .tituloSobreProjeto{
        width: 40vw;
    }
}

@media (max-width: 800px) {
    .blocoFotoGrupo3{
        height: 45vh;
    }
    .tituloSobreProjeto{
        width: 40vw;
    }
}

@media (max-width: 660px) {
    .tituloGrupo{
        width: 30vw;
    }
}

@media (max-width: 450px) {
    .BlocoLogoEIntegrantes{
        display: flex;
        flex-direction: column;
        gap: 1em
    }
    .fotoDoGrupo{
    
    }
    .blocoFotoGrupo3{
        height: 50vw;
    }
}