* {
    margin: 0;
    padding: 0;
}

.BuscaAPI-pesquisar {

    justify-content: center;
    font-size: 1em;
    width: 20vw; 
    padding: 1vw;
    background-color:gainsboro;
    border: none;
    outline: none;
    border-radius: 0.7vw;

}

.BuscaAPI-box-Barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.BuscaAPI-botaoPesquisa {
 padding: 0.5em;
 margin-left: 1em;
 border-radius: 100%;
 width: 3em;
 height: 3em;
 border-style: none;
 cursor: pointer;
 background-color: black;
}

.BuscaAPI-botaoPesquisa:hover {
   transform: scale(1.1);
   transition: 0.5s;
   background-color: red;
}

.BuscaAPI-erro {
    color: rgb(143, 0, 0);
    font-weight: bold;
    font-size: 1.2em;
}

.BuscaAPI-BoxCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1em;
}

.BuscaAPI-Cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    border: 0.1em solid black;
    padding: 2em;
    gap: 2em;
    border-radius: 5%;
    background-color: #FF1E08;
    color: #fff;
    font-family: "Comic Relief";
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.BuscaAPI-Img {
    width: 15em;
    height: 15em;
    border-radius: 100%;
    border: 0.1em solid #fff;
}

.BuscaAPI-Cards:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #ba0006;
}
