.footerBlocoPrincipal {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 2em;
    font-family: "Oswald", sans-serif;
    justify-content: space-around;
    align-items: center;
}

.LogoFooterMarvel{
    width: 5vw;
}

.blocoLinksPaginas{
    display: flex;
    flex-direction: column;
}

.blocoLinksPaginas a{
    text-decoration: none;
    color: #ccc;    
}

.blocoLinksPaginas a:hover {
    color: #fff;
    border-bottom: 2px solid red;
}

.MensagemEngraçada{
    color: white;
    font-size: 2.4em;
}

.iconesRedesSociais a{
    color: white;
    font-size: 2em;
    gap: 10em;
    text-decoration: none;
    padding: 1em;
    transition: all 1s ease; /* Transição suave */
}

.iconesRedesSociais a:hover{
    transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
    color: red;
}
