* {
    margin: 0;
    padding: 0;
}

.HeaderPrincipal {
    display: flex;
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center;
    height: 7vh;
    background-color: #000000e1;
    border-bottom: solid rgb(61, 61, 61) 0.5px;
    position: relative;
    padding: 0 2vw;
}

.HeaderPrincipal img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 7vh;
    width: auto;
    display: block;
    z-index: 1;
    top: 0px; /* Ajusta a imagem para ela ficar no topo da tela */
}

.HeaderPrincipal i {
    z-index: 2;
    margin-left: 10vw; /* afasta o ícone da borda esquerda */
    color: white;
    font-size: 1.7em;
    transition: all 1s ease;
}

.HeaderPrincipal i:hover {
    transform: scale(1.1);
    color: red;
}

.HeaderPrincipal h3 {
    z-index: 2;
    margin-right: 10vw; /* afasta o texto da borda direita */
    color: #888;
    font-style: italic;
}

.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 5.5vh;
    background-color: #000000e1;
    border-bottom: solid rgb(61, 61, 61) 0.5px;
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Oswald", sans-serif;
}

.Navbar a {
    color: #ccc;
    text-decoration: none;
    border-bottom: 2px solid; /* Para colocar a borda apenas em baixo */
    transition: color 0.2s, border-bottom 0.2s;
}

.Navbar a:hover {
    color: #fff;
    border-bottom: 2px solid red;
}

.Navbar a:not(:hover) {
    color: #888;
    border-bottom: 2px solid transparent;
}