* {
    margin: 0;
    padding: 0;
}

.ListaAPI-Todos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2.5em;
    width: 80vw;
    flex-wrap: wrap;
}

.ListaAPI-Cards1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 50%;
    border: 0.1em solid black;
    padding: 2em;
    gap: 1.5em;
    border-radius: 5%;
    background-color: #FF1E08;
    color: #fff;
    font-family: "Comic Relief";
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ListaAPI-Img {
    border-radius: 100%;
    border: 0.1em solid #fff;
}

.ListaAPI-Cards1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #ba0006;
}

.ListaAPI-Cards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 50%;
    border: 0.1em solid black;
    padding: 2em;
    gap: 1.5em;
    border-radius: 5%;  
    background-color: #ffc908;
    color: #ff00d4;
    font-family: "Comic Relief";
    transition: 0.3s;
    box-shadow: 0 4px 8px rgb(0, 255, 8);
}

.ListaAPI-Cards2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #5fecff;
}

@media only screen and (max-width: 1000px) {
    .ListaAPI-Cards1 {
        width: 28vw;
        height: 58vh;
        text-align: center;
    }
    .ListaAPI-Cards2 {
        width: 28vw;
        height: 58vh;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .ListaAPI-Todos {
        flex-direction: column;
        align-items: center;
    }
    .ListaAPI-Cards1 {
        width: 50vw;
        height: 58vh;
        text-align: center;
    }
    .ListaAPI-Cards2 {
        width: 50vw;
        height: 58vh;
        text-align: center;
    }
}

@media only screen and (max-width: 485px) {
    .ListaAPI-Cards1 {
        width: 70%;
        height: 80%;
        text-align: center;
    }
    .ListaAPI-Cards2 {
        width: 70%;
        height: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .ListaAPI-Img {
        width: 80%;
        height: auto;
    }
}

